PORT=3000
HOST=0.0.0.0
CORS_ALLOWED_ORIGINS=localhost,127.0.0.1,192.168.1.74
MONGODB_URI=mongodb+srv://uness:uness123@emerg.n1n9zxh.mongodb.net/?appName=Emerg
MONGODB_DB_NAME=emerg
NODE_ENV=development
JWT_SECRET=
JWT_EXPIRY=
OTP_SECRET=
TWILIO_AUTH_TOKEN=
TWILIO_ACCOUNT_SID=
TWILIO_FROM_NUMBER=
GALLI_MAPS_TOKEN=
MAILTRAP_USER=
MAILTRAP_PASS=
GOOGLE_MAIL=
GOOGLE_PASS=
FCM_PROJECT_ID=
FCM_CLIENT_EMAIL=
FCM_PRIVATE_KEY=
DEFAULT_ALERT_RADIUS_KM=15
